

.card{
    display: flex;
    align-items: center;
}

.card{
    background-color: #F8FFFB;
    /* transition: transform .5s ease; */
    border-radius: 7px;

   }

.card:hover{
    background-color: #fff;
    /* transform: scale(1.1); */
    box-shadow: 0px 0px 32px -12px rgba(0,0,0,0.75);

}

/* For card animation start*/
.trans-card {
    transition: 0.4s;
    
  }
  
.trans-card:hover {
    transform: translateY(-1rem);
  }
  /* For card animation end*/